staging:
  adapter: postgresql
  database: demo_adminos_staging

production:
  adapter: postgresql
  database: 
  username: 
  password: 
  host: 

development:
  adapter: postgresql
  database: demo_adminos_development

test:
  adapter: postgresql
  database: demo_adminos_test
  min_messages: warning
